h1{
  background-color: darkgray;
  text-align: center;
  text-shadow: 0cqmax;
  text-decoration: solid;
  text-size-adjust: 100px;
}

h2 {
    text-align: center;
    background-color: burlywood;
}


p {
    text-align: center;
   

}

section2 {
    text-align: center;
}

h3{
    text-align: center;
    background-color: rgb(93, 135, 71);
}

h4{
    text-align: center;

}

a {
    text-align: center;
}